<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <!--<md-form-field>-->
      <!--<input mdInput [mdDatepicker]="picker" placeholder="Choose a date">-->
      <!--<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>-->
      <!--<md-datepicker #picker></md-datepicker>-->
    <!--</md-form-field>-->
    <div style="text-align: center; bottom: 50%">
      <div class="alert" *ngIf="error && error.length > 0">{{error}}</div>
      <md-spinner mode="indeterminate" *ngIf="isLoading"></md-spinner>
    </div>
    <div [chart]="barChart" *ngIf="!isLoading"></div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
