<form onsubmit="return false" (submit)="onPostConfirm()">
  <h4 md-dialog-title>Tanggapi</h4>
  <div md-dialog-content style="width: 400px">
    <div *ngIf="postData" style="margin: 0  -20px">
      <md-spinner mode="indeterminate" *ngIf="isLoading"></md-spinner>
      <table class="mdl-data-table mdl-js-data-table" style="width: 100%; margin-bottom: 10px" *ngIf="!isLoading">
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Status</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.type.toUpperCase()}}</td>
        </tr>
        <tr *ngIf="postData.name">
          <th class="mdl-data-table__cell--non-numeric">Oleh</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.full_name.toUpperCase()}}</td>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Dibuat</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.created_at | date:"dd/MM/yyyy HH:mm"}}</td>
        </tr>
        <tr *ngIf="postData.updated_at">
          <th class="mdl-data-table__cell--non-numeric">Diperbarui</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.updated_at | date:"dd/MM/yyyy HH:mm"}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric" colspan="2"><strong>Keterangan</strong>
            <p>{{postData.information}}</p></td>
        </tr>
      </table>
    </div>
    <md-select placeholder="Pilih status" [(ngModel)]="postForm.response" name="status" style="width:100%">
      <md-option *ngFor="let status of statusArray" [value]="status.id">
        {{status.text}}
      </md-option>
    </md-select>
    <md-input-container>
      <textarea mdInput placeholder="Keterangan" rows="4" [(ngModel)]="postForm.comment" name="comment"></textarea>
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button md-raised-button color="accent" style="margin-right: 10px" (click)="onPostConfirm()">
      Konfirmasi
    </button>
    <button md-raised-button md-dialog-close>Batal</button>
  </div>
</form>

