<div md-dialog-content style="width: 400px">
  <div *ngIf="isLoading || !postData">
    <md-spinner mode="indeterminate" color="accent" width="5px"></md-spinner>
    Mohon tunggu...
  </div>
  <div *ngIf="!isLoading && postData" style="margin: 0  -20px">
   <table class="mdl-data-table mdl-js-data-table" style="width: 100%; margin-bottom: 10px" *ngIf="!isLoading">
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Status</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.type.toUpperCase()}}</td>
        </tr>
        <tr *ngIf="postData.name">
          <th class="mdl-data-table__cell--non-numeric">Oleh</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.full_name.toUpperCase()}}</td>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Dibuat</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.created_at | date:"dd/MM/yyyy HH:mm"}}</td>
        </tr>
        <tr *ngIf="postData.updated_at">
          <th class="mdl-data-table__cell--non-numeric">Diperbarui</th>
          <td class="mdl-data-table__cell--non-numeric">{{postData.updated_at | date:"dd/MM/yyyy HH:mm"}}</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric" colspan="2"><strong>Keterangan</strong>
            <p>{{postData.information}}</p></td>
        </tr>
      </table>
  </div>
</div>
<div md-dialog-actions>
  <button md-button md-dialog-close>Tutup</button>
</div>

