<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--5-col">
    <md-card>
      <md-card-content>
        <form onsubmit="return false" (submit)="onFormSubmit()" [formGroup]="form">
          <h4 style="margin: 0">Buat Pengguna Baru</h4>
          <div class="alert" *ngIf="$error">{{$error}}</div>
          <md-input-container>
            <input mdInput placeholder="Username (NIS/NIP)" name="username" formControlName="username">
            <md-error>Username (NIS/NIP) wajib diisi</md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Nama" name="name" formControlName="name">
            <md-error>Nama wajib diisi</md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="No. Telepon" name="phone" formControlName="phone">
            <md-error>No. Telepon wajib diisi</md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="E-mail" name="email" type="email" formControlName="email">
            <md-error>E-mail wajib diisi</md-error>
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Kata Sandi" name="password" formControlName="password">
            <md-error>Kata sandi wajib diisi!</md-error>
          </md-input-container>
          <md-select placeholder="Level Pengguna" formControlName="level" style="width: 100%">
            <md-option *ngFor="let level of userLevel" [value]="level.value">{{level.text}}</md-option>
          </md-select>
          <div style="margin: 20px 0">
            <button md-raised-button color="accent">Buat Pengguna</button>
            <button md-raised-button routerLink="/user/list">Batal</button>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
