<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <h1>Selamat datang di Vohisma Reporter</h1>
    Gunakan aplikasi Vohisma Reporter untuk melapor lebih cepat! <br>
    <a md-raised-button href="/assets/vohismareporter.apk"><i class="fa fa-android"></i> &nbsp; Android</a>
    <iframe style="margin-top: 20px" width="560" height="400" src="https://www.youtube.com/embed/lobAhiR5C0I?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
