<!--button for creating new post-->
<div style="position: fixed; bottom: 50px; right: 50px;">
  <a md-fab routerLink="/post/create">
    <md-icon>add</md-icon>
  </a>
</div>

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--5-col">

    <md-progress-bar mode="indeterminate" *ngIf="isLoadingData"></md-progress-bar>

    <md-card *ngIf="!isLoadingData && postArray.length <= 0">
      <md-card-content style="text-align: center; padding: 50px">Tidak ada kiriman</md-card-content>
    </md-card>

    <!--<md-content layout="column"></md-content>-->
    <md-card *ngFor="let post of postArray; let i  = index" style="margin-bottom: 20px">
      <md-card-header style="width: 100%">
        <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_square_blue_512dp.png" md-card-avatar>
        <md-card-title>
          <strong style="text-transform: capitalize">{{post.full_name.toLowerCase()}}</strong> <span
          style="text-transform: lowercase">@{{post.username}}</span>
          <br>
          <span style="font-size: large; text-transform: capitalize">{{post.title}}</span>
        </md-card-title>
        <span class="fill-space"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="(userLevel < 30) || (userLevel > 30 && username == post.username)">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu" xPosition="before">
          <button md-menu-item>
            <md-icon>edit</md-icon>
            <span>Ubah</span>
          </button>
          <button md-menu-item (click)="onPostDelete(post)">
            <md-icon>delete</md-icon>
            <span>Hapus</span>
          </button>
        </md-menu>
      </md-card-header>
      <ng-container *ngIf="post.media && post.media == 'image' && post.files.length == 1">
        <div style="position: relative;height:400px;overflow: hidden; margin: 0 -25px">
          <img md-card-image [src]="convertImgUrl(post.files[0])"
               style="position: absolute;left: 50%;top: 50%; -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);">
        </div>
      </ng-container>
      <ng-container *ngIf="post.media && post.media == 'image' && post.files.length > 1">
        <owl-carousel
          [options]="{items: 1, dots: false, navigation: false}"
          [items]="post.files"
          [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div *ngFor="let img of post.files"
               style="position: relative;height:400px;overflow: hidden; margin: 0 -25px">
            <img md-card-image [src]="convertImgUrl(img)">
          </div>
        </owl-carousel>

      </ng-container>
      <md-card-content>
        <md-card-title-group>
          <md-card-subtitle>
            <md-icon>location_on</md-icon>
            <span style="text-transform: capitalize;font-weight: 800">{{post.location}}</span>
            {{genDate(post.created_at) | timeAgo}}
          </md-card-subtitle>
          <md-card-subtitle>
            <md-chip-list>
              <md-chip selected="true" color="primary" *ngFor="let subject of post.subjects"
                       style="text-transform: capitalize;">{{subject}}
              </md-chip>
              <md-chip selected="true" color="primary" *ngFor="let topic of post.topic"
                       style="text-transform: capitalize;">{{topic}}
              </md-chip>
            </md-chip-list>
          </md-card-subtitle>
        </md-card-title-group>
        <p>
          {{post.information}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/comment', post.id]">KOMENTAR</button>
        <button md-button (click)="onRespond(post)" *ngIf="userLevel < 30 && isHisPost(post.topic)">TANGGAPI</button>
        <button md-button (click)="onViewResponse(post)" *ngIf="userLevel > 30 && post.response">LIHAT TANGGAPAN
        </button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
