<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--5-col">

    <md-spinner color="accent" mode="indeterminate" *ngIf="isLoading"
                style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center;">
      Mohon tunggu...
    </md-spinner>
    <md-card style="margin-bottom: 20px" *ngIf="!isLoading && !$error">
      <md-card-header style="width: 100%">
        <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_square_blue_512dp.png" md-card-avatar>
        <md-card-title>
          <strong style="text-transform: capitalize">{{post.full_name.toLowerCase()}}</strong> <span
          style="text-transform: lowercase">@{{post.username}}</span>
          <br>
          <span style="font-size: large; text-transform: capitalize">{{post.title}}</span>
        </md-card-title>
        <span class="fill-space"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu" *ngIf="post.username == userInfo('username')">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu" xPosition="before">
          <button md-menu-item>
            <md-icon>edit</md-icon>
            <span>Ubah</span>
          </button>
          <button md-menu-item (click)="onPostDelete(post)">
            <md-icon>delete</md-icon>
            <span>Hapus</span>
          </button>
        </md-menu>
      </md-card-header>
      <ng-container
        *ngIf="post.media && post.media.type == 'image' && post.media.files.length > 0 && post.media.files.length <= 1">
        <img md-card-image [src]="convertImgUrl(post.media.files[0])">
      </ng-container>
      <ng-container *ngIf="post.media && post.media.type == 'image' && post.media.files.length > 1"
                    id="ragasub-carousel">
        <owl-carousel
          [options]="{items: 1, dots: false, navigation: false}"
          [items]="post.media.files"
          [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div *ngFor="let img of post.media.files">
            <img md-card-image [src]="convertImgUrl(img)">
          </div>
        </owl-carousel>

      </ng-container>
      <md-card-content>
        <md-card-title-group>
          <md-card-subtitle>
            <md-icon>location_on</md-icon>
            <span style="text-transform: capitalize;font-weight: 800">{{post.location}}</span>
            {{post.created_at | date:"H:mm a, d MMM"}}
          </md-card-subtitle>
          <md-card-subtitle>
            <md-chip-list>
              <md-chip selected="true" color="primary" *ngFor="let subject of post.subject"
                       style="text-transform: capitalize;">{{subject}}
              </md-chip>
              <md-chip selected="true" color="primary" *ngFor="let topic of post.topic"
                       style="text-transform: capitalize;">{{topic}}
              </md-chip>
            </md-chip-list>
          </md-card-subtitle>
        </md-card-title-group>
        <p>
          {{post.information}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="onRespond(post)" *ngIf="userLevel < 30">TANGGAPI</button>
        <button md-button (click)="onViewResponse(post)" *ngIf="userLevel > 30 && post.response">LIHAT TANGGAPAN
        </button>
        <!--<button md-button>TANGGAPI</button>-->
      </md-card-actions>
    </md-card>
    <ng-container *ngIf="!isLoading && !$error">
      <md-card style="margin-bottom: 20px">
        <md-card-content>
          <div class="alert" *ngIf="commentError !== null && commentError.length > 0"><i class="fa fa-exclamation-triangle"></i> {{commentError}}</div>
          <form onsubmit="return false;" (submit)="onCommentSubmit()">
            <md-input-container>
              <textarea mdInput placeholder="Komentar" rows="4" [(ngModel)]="comments" name="comments"></textarea>
            </md-input-container>
            <button md-raised-button color="accent" [disabled]="isPostSending"><i class="fa fa-circle-o-notch fa-spin" *ngIf="isPostSending"></i> Komentari</button>
          </form>
        </md-card-content>
      </md-card>
      <md-card *ngFor="let comment of commentsArray">
        <md-card-header style="width: 100%">
          <img src="https://ssl.gstatic.com/images/branding/product/1x/avatar_square_blue_512dp.png" md-card-avatar>
          <md-card-title>
            <strong style="text-transform: capitalize">{{comment.full_name.toLowerCase()}}</strong> <span
            style="text-transform: lowercase">@{{comment.username}}</span> <br>
            {{comment.created_at | date:"dd MMM yyyy, HH:mm"}}
          </md-card-title>
          <span class="fill-space"></span>
          <button md-icon-button [mdMenuTriggerFor]="menu"
                  *ngIf="(userLevel < 30) || (userLevel > 30 && username == comment.username)">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #menu="mdMenu" xPosition="before">
            <button md-menu-item>
              <md-icon>edit</md-icon>
              <span>Ubah</span>
            </button>
            <button md-menu-item (click)="onCommentDelete(comment)">
              <md-icon>delete</md-icon>
              <span>Hapus</span>
            </button>
          </md-menu>
        </md-card-header>
        <md-card-content>{{comment.comment}}</md-card-content>
      </md-card>
    </ng-container>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
