<div md-dialog-content>
  <div class="alert" *ngIf="hasError !== null && hasError.length > 0"><i class="fa fa-exclamation-triangle"></i> {{hasError}}</div>
  Apakah anda yakin ingin menghapus pengguna ini?</div>
<div md-dialog-actions>
  <button md-raised-button color="accent" style="margin-right: 10px" (click)="onDeleteConfirm()" [disabled]="isLoading">
    <i class="fa fa-circle-o-notch fa-spin" *ngIf="isLoading"></i> Konfirmasi
  </button>
  <button md-raised-button md-dialog-close>Batal</button>
</div>
