<h4 style="margin: 0 0 10px 0">Aktivasi Pengguna</h4>
<div>
  <div class="alert" *ngIf="$error">
    {{$error}}
  </div>
  <md-input-container style="width: 100%">
    <input mdInput placeholder="Username" [mdAutocomplete]="auto" [formControl]="username" (change)="onFilter()">
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let username of usernameArray" [value]="username">
      {{ username }}
    </md-option>
  </md-autocomplete>

  <md-input-container  style="width: 100%">
    <input type="text" mdInput placeholder="Kode Aktivasi" [formControl]="code" (change)="onCodeChange()">
  </md-input-container>
  <button md-raised-button color="accent" (click)="onActivate()">Aktifkan</button>
</div>
