<form onsubmit="return false;" (submit)="onUpdateSubmit()">
  <div md-dialog-content style="width: 440px">
    <md-input-container>
      <input type="text" mdInput [(ngModel)]="data.username" placeholder="Username" readonly name="username">
    </md-input-container>
    <md-input-container>
      <input type="text" mdInput [(ngModel)]="data.name" placeholder="Nama" name="name">
    </md-input-container>
    <md-input-container>
      <input type="email" mdInput [(ngModel)]="data.email" placeholder="Email" name="email">
    </md-input-container>
    <md-input-container>
      <input type="text" mdInput [(ngModel)]="data.phone" placeholder="No. Telepon" name="phone">
    </md-input-container>
    <md-select placeholder="Level Pengguna" name="level" [(ngModel)]="data.level" style="width: 100%; margin-top: 4px">
      <md-option *ngFor="let level of userLevel" [value]="level.value">{{level.text}}</md-option>
    </md-select>
    <md-input-container>
      <input type="text" mdInput [(ngModel)]="data.password" placeholder="Password" name="password">
      <md-hint>Biarkan kosong jika tidak ingin mengubah kata sandi</md-hint>
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button md-raised-button color="accent" style="margin-right: 10px" [disabled]="isLoading">
      <i class="fa fa-circle-o-notch fa-spin" *ngIf="isLoading"></i> Konfirmasi
    </button>
    <button md-raised-button md-dialog-close>Batal</button>
  </div>
</form>
