<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" *ngIf="isLoggedIn">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">VOHISMA reporter <small style="opacity: 0.5"><sub>Build {{buildNumber}}</sub></small></span>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href routerLink="/home" routerLinkActive="is-active">Beranda</a>
        <a class="mdl-navigation__link" href routerLink="/user/list" routerLinkActive="is-active"
           *ngIf="userLevel < 20">User</a>
         <a class="mdl-navigation__link" href routerLink="/statistic" routerLinkActive="is-active">Statistik</a>
        <a class="mdl-navigation__link" href routerLink="/report" routerLinkActive="is-active" *ngIf="userLevel < 30">Laporan</a>
      </nav>

      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href (click)="false" style="font-weight: 800  ">{{storage('name')}}</a>
        <a class="mdl-navigation__link" href routerLink="/user/logout">Logout</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Navigasi</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href routerLink="/home" routerLinkActive="is-active">Beranda</a>
      <a class="mdl-navigation__link" href routerLink="/user/list" routerLinkActive="is-active" *ngIf="userLevel < 20">User</a>
       <a class="mdl-navigation__link" href routerLink="/statistic" routerLinkActive="is-active">Statistik</a>
      <a class="mdl-navigation__link" href routerLink="/report" routerLinkActive="is-active" *ngIf="userLevel < 30">Laporan</a>
      <a class="mdl-navigation__link" href routerLink="/user/logout">Logout</a>
      <small>V {{buildVersion}} Build {{buildNumber}}</small>
    </nav>
  </div>
  <!--<div class="alert alert-danger" style="margin: 10px">-->
    <!--Versi aplikasi terbaru tersedia! Mohon refresh untuk mengupdate aplikasi Vohisma Reporter atau klik <button md-button>RELOAD</button>-->
  <!--</div>-->
  <router-outlet>
  </router-outlet>
</div>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" *ngIf="!isLoggedIn">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">VOHISMA reporter <small style="opacity: 0.5"><sub>Build {{buildNumber}}</sub></small></span>

      <nav class="mdl-navigation">
        <!-- <a class="mdl-navigation__link" href routerLink="/landing" routerLinkActive="is-active">Home</a> -->
      </nav>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <!-- <a class="mdl-navigation__link" href routerLink="/user/login" routerLinkActive="is-active">Login</a> -->
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
