<!--<div class="mdl-layout__content">-->

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--5-col">
    <md-card>
      <md-card-header>
        <md-card-title style="text-transform: uppercase; font-weight: 800">Buat post baru</md-card-title>
      </md-card-header>
      <md-card-content>
        <form (submit)="onFormSubmit()" onsubmit="return false;">
          <div class="alert" *ngIf="hasError !== null && hasError.length > 0">
            {{hasError}}
          </div>
          <table style="width:100%;">
            <tr>
              <td>
                <md-input-container style="width: 100%" color="warn">
                  <input mdInput placeholder="Judul" style="width: 100%" name="title"
                         [formControl]="formChecker.title">
                  <md-error>
                    Judul wajib diisi!
                  </md-error>
                </md-input-container>
              </td>
              <td>
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="Lokasi" style="width: 100%" name="location"
                         [formControl]="formChecker.location">
                  <md-error>
                    Lokasi wajib diisi!
                  </md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>

                <label style="font-weight: 800">Subyek</label>
                <div *ngFor="let subject of subjectArray; let i = index">
                  <md-checkbox style="display: block; margin: 10px 0; text-transform: capitalize"
                               [(ngModel)]="subjectArray[i].checked" name="subject">{{subject.id}}
                  </md-checkbox>
                </div>
              </td>
              <td>
                <label style="font-weight: 800">Tujuan</label>
                <div *ngFor="let topic of topicArray; let i = index">
                  <md-checkbox style="display: block; margin: 10px 0; text-transform: capitalize"
                               [(ngModel)]="topicArray[i].checked" name="topic">{{topic.id}}
                  </md-checkbox>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <md-input-container style="width: 100%">
                    <textarea mdInput placeholder="Keterangan" rows="4" name="information"
                              [formControl]="formChecker.information"></textarea>
                  <md-error>
                    Keterangan wajib diisi!
                  </md-error>
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                       [ngClass]="{'mdl-button--disabled': !isEnabled.image}">
                  <input type="file" accept="image/*" multiple style="display: none" (change)="_onImageChange($event)"
                         [disabled]="!isEnabled.image"> <i class="material-icons">camera_alt</i>
                  Foto
                </label>
                <!-- <label class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                       [ngClass]="{'mdl-button--disabled': !isEnabled.video}">
                  <input type="file" accept="video/*" style="display: none" [disabled]="!isEnabled.video"> <i
                  class="material-icons">videocam</i> Video
                </label>
                <label class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                       [ngClass]="{'mdl-button--disabled': !isEnabled.document}">
                  <input type="file" accept="application/pdf" multiple style="display: none"
                         [disabled]="!isEnabled.document"> <i class="material-icons">picture_as_pdf</i>
                  Dokumen
                </label> -->
                <md-error style="margin: 10px 0">
                  {{$mediaError}}
                </md-error>
              </td>
            </tr>
            <tr *ngIf="mediaThumbnail.length > 0">
              <td colspan="2">
                <span class="media-thumb" *ngFor="let thumb of mediaThumbnail"
                      [ngStyle]="{'background-image': 'url(' + thumb + ')'}"></span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <md-radio-group [(ngModel)]="postForm.public" name="privacy">
                  <md-radio-button value="false">Private</md-radio-button>
                  <md-radio-button value="true" [checked]="true">Public</md-radio-button>
                </md-radio-group>

              </td>
            </tr>
            <tr style="text-align: right">
              <td colspan="2">
                <div style="margin: 20px 0">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit"
                          [ngClass]="{'mdl-button--disabled': isSendingPost}" [disabled]="isSendingPost"><i
                    class="fa fa-circle-o-notch fa-spin" *ngIf="isSendingPost">&nbsp;</i> Kirim
                  </button>
                  <button class="mdl-button mdl-js-button mdl-button--colored" (click)="onPostCancel()" type="button">
                    Batal
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </form>
      </md-card-content>
    </md-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
<!--</div>-->
