<div md-dialog-content>Apakah anda yakin ingin membatalkan kiriman ini?</div>
<div md-dialog-actions>
  <button md-raised-button color="accent" routerLink="/home" md-dialog-close>Ya</button>
  <button md-raised-button md-dialog-close>Tidak</button>
</div>
