<div class="modal-body">
    <div class="alert alert-danger" *ngIf="statusError">
        <i class="fa fa-exclamation-triangle"></i> {{statusError}}
    </div>
    <div>Tanggapi
        <blockquote class="blockquote text-capitalize">{{data.title}}</blockquote>
        <div style="margin-bottom: 10px" class="text-uppercase">
            <strong>Status saat ini: </strong>
            <span class="badge badge-default" *ngIf="data.status == 'belum'"><i
                    class="fa fa-clock-o"></i> Belum ditanggapi</span>
            <span class="badge badge-secondary" *ngIf="data.status == 'konfirmasi'"><i
                    class="fa fa-check-circle-o"></i> Dikonfirmasi</span>
            <span class="badge badge-primary" *ngIf="data.status == 'proses'"><i
                    class="fa fa-tasks"></i> Diproses</span>
            <span class="badge badge-success" *ngIf="data.status == 'selesai'"><i
                    class="fa fa-check-circle"></i> Selesai</span>
            <span class="badge badge-danger" *ngIf="data.status == 'tolak'"><i class="fa fa-times"></i> Ditolak</span>
        </div>
        <div class="text-uppercase" style="margin-bottom: 10px" *ngIf="selectedStatus">
            <strong>Status terpilih:</strong>
            <span class="badge badge-default" *ngIf="selectedStatus == 'belum'"><i
                    class="fa fa-clock-o"></i> Belum ditanggapi</span>
            <span class="badge badge-secondary" *ngIf="selectedStatus == 'konfirmasi'"><i
                    class="fa fa-check-circle-o"></i> Dikonfirmasi</span>
            <span class="badge badge-primary" *ngIf="selectedStatus == 'proses'"><i
                    class="fa fa-tasks"></i> Diproses</span>
            <span class="badge badge-success" *ngIf="selectedStatus == 'selesai'"><i
                    class="fa fa-check-circle"></i> Selesai</span>
            <span class="badge badge-danger" *ngIf="selectedStatus == 'tolak'">
                <i class="fa fa-times"></i> Ditolak</span>

        </div>
    </div>
    <button class="btn btn-primary" [disabled]="data.status == 'konfirmasi'" (click)="onStatusConfirm()"><i class="fa fa-check-circle-o"></i> Konfirmasi</button>
    <button class="btn btn-primary" [disabled]="data.status == 'proses'" (click)="onStatusProcess()"><i class="fa fa-tasks"></i> Proses</button>
    <button class="btn btn-primary" [disabled]="data.status == 'selesai'" (click)="onStatusDone()"><i class="fa fa-check-circle"></i> Selesai</button>
    <button class="btn btn-danger" (click)="onStatusDeny()" [disabled]="data.status == 'tolak'">
        <i class="fa fa-times"></i> Tolak
    </button>
</div>
<div class="modal-footer">
    <button class="btn btn-success" (click)="onStatusSave()">
        <i class="fa fa-check"></i> Simpan
    </button>
  <button class="btn btn-default">
        <i class="fa fa-times"></i> Batal
    </button>
</div>
