<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" width="100%">
      <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Pelayanan</th>
        <th>Skor</th>
        <th>Hasil</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan guru dalam proses pembelajaran di kelas</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan guru dalam proses pembelajaran di bengkel</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan guru bimbingan dan konseling</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan walikelas dalam pembibingan kelas</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan pentelenggaraan kegiatan ekstrakurikuler</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan penyediaan sarana prasarana pembelajaran</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan petugas perpustakaan sekolah</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan petugas administrasi sekolah</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan UKS</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Pelayanan Kantin/Toko Sekolah</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
