<!--<h1>masuk di vohismafo</h1>-->
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--5-col">
    <md-card>
      <md-card-content>
        <div class="alert" *ngIf="$error" [innerHTML]="$error"></div>
        <form (submit)="login()">
          <md-input-container style="width: 100%">
            <input mdInput placeholder="Username" style="width: 100%" name="username" [(ngModel)]="user.username">
          </md-input-container>
          <md-input-container style="width: 100%">
            <input mdInput placeholder="Password" style="width: 100%" type="password" name="password"
                   [(ngModel)]="user.password">
          </md-input-container>
          <button md-raised-button type="submit" color="primary" [ngClass]="{'mdl-button--disabled': isLoading}" [disabled]="isLoading">
            <span *ngIf="isLoading"><i class="fa fa-fa-circle-o-notch fa-spin"></i>&nbsp;</span>
            Login
          </button>
        </form>
      </md-card-content>
    </md-card>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
