/* You can add global styles to this file, and also import other style files */
html, body, app-root {
    height: 100%;
}

.loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            height: 100vh;
            height: 100%;
            width: 100vw;
            width: 100%;

    background: #ffffff;
    opacity: 0.9;
    z-index: 999;

    position: absolute;
    top: 0;
    left: 0;
}

.spinner {
-webkit-animation: rotator 1.4s linear infinite;
        animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
}
}

@keyframes rotator {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
}
}
.path {
stroke-dasharray: 187;
stroke-dashoffset: 0;
-webkit-transform-origin: center;
        transform-origin: center;
-webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
        animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
0% {
    stroke: #4285F4;
}
25% {
    stroke: #DE3E35;
}
50% {
    stroke: #F7C223;
}
75% {
    stroke: #1B9A59;
}
100% {
    stroke: #4285F4;
}
}

@keyframes colors {
0% {
    stroke: #4285F4;
}
25% {
    stroke: #DE3E35;
}
50% {
    stroke: #F7C223;
}
75% {
    stroke: #1B9A59;
}
100% {
    stroke: #4285F4;
}
}
@-webkit-keyframes dash {
0% {
    stroke-dashoffset: 187;
}
50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
}
}
@keyframes dash {
0% {
    stroke-dashoffset: 187;
}
50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
}
}

header {
  position: relative;
}

.mdl-speed-dial {
  position: fixed;
  text-align: right;
  z-index: 999999;
  margin: 0;
}

.mdl-speed-dial--bottom-fixed {
  bottom: 28px;
  right: 40px;
}

.mdl-speed-dial--header-edge {
  top: calc(100% - 28px);
  right: 40px;
}

.mdl-speed-dial__options {
  display: none;
  margin-bottom: 16px;
}

.mdl-speed-dial__option {
  margin: 16px 8px 2px 8px;
}

.mdl-speed-dial__tooltip {
  margin-right: 5px;
  padding: 4px;
  display: inline;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 2px;
  color: #fff;
}

.mdl-speed-dial_main-fab-icon--hidden {
  display: none;
}
.fill-space {
  flex: 1 1 auto;
}

.media-thumb {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 5px;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.alert-danger {
  background-color: #f0ad4e!important;
}

md-input-container {
  width: 100%;
}
