<div md-dialog-content>Apakah anda yakin ingin menghapus komentar ini?</div>
<div md-dialog-actions>
  <button md-raised-button color="accent" style="margin-right: 10px" (click)="onPostConfirm(data)">
    Konfirmasi
  </button>
  <button md-raised-button md-dialog-close>Batal</button>
</div>
