<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--10-col">
    <a md-raised-button routerLink="/user/create" color="primary" style="margin: 10px 10px 10px 0">Buat Pengguna</a>
    <a md-raised-button (click)="onUserActivation()" color="accent" style="margin: 10px 10px 10px 0">Aktivasi</a>

    <p-dataTable [value]="usersData" tableStyleClass="mdl-data-table mdl-js-data-table" [rows]="20" [paginator]="true"
                 [totalRecords]="usersTotal"
                 styleClass="mdl-data-table__cell--non-numeric" [tableStyle]="{'width': '100%'}">
      <p-column field="username" header="Username" styleClass="mdl-data-table__cell--non-numeric"></p-column>
      <p-column field="full_name" header="Name" styleClass="mdl-data-table__cell--non-numeric"></p-column>
      <p-column>
        <ng-template let-col let-row="rowData" pTemplate="body">
          <md-chip-list>
            <md-chip color="primary" selected="true">{{userLevel(row['level'])}}</md-chip>
            <md-chip color="accent" *ngIf="row['active'] > 0" selected="true">
              Aktif
            </md-chip>
            <md-chip color="warn" *ngIf="row['active'] <= 0" selected="true">
              Non-Aktif
            </md-chip>
          </md-chip-list>
        </ng-template>
      </p-column>
      <p-column>
        <ng-template let-col let-row="rowData" pTemplate="body">
          <button md-raised-button type="submit" (click)="onUserUpdate(row)">Edit</button>
          <button md-raised-button color="primary" (click)="onUserDelete(row)">Delete</button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
